@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-eNih_5QbjRulm: var(--token-Y0cpcMdrQYe-d);
  --plasmic-token-unnamed-style-token: var(--token-eNih_5QbjRulm);
  --token-M0Vg_cQNhjIE0: #ffffff;
  --plasmic-token-white: var(--token-M0Vg_cQNhjIE0);
  --token-ZrOA7t2mQpZLV: #1c1a17;
  --plasmic-token-black: var(--token-ZrOA7t2mQpZLV);
  --token-Y0cpcMdrQYe-d: #898484;
  --plasmic-token-test-color: var(--token-Y0cpcMdrQYe-d);
  --token-R-fTGrzYCvwGw: #f2efeb;
  --plasmic-token-bg: var(--token-R-fTGrzYCvwGw);
  --token-UTLCGRii4Q6lH: 146px;
  --plasmic-token-box: var(--token-UTLCGRii4Q6lH);
  --token-xGhSISxTUcIQI: #a36005;
  --plasmic-token-brown: var(--token-xGhSISxTUcIQI);
  --token-sMQXOv0kScZ_7: #faf8f5;
  --plasmic-token-bg-2: var(--token-sMQXOv0kScZ_7);
  --token-bLoYqUH94gMsy: #e63360;
  --plasmic-token-star: var(--token-bLoYqUH94gMsy);
}

.plasmic_default_styles {
  --mixin-d6wMCaUwYC8tMb_font-family: "Source Sans Pro";
  --mixin-d6wMCaUwYC8tMb_font-size: 14px;
  --mixin-d6wMCaUwYC8tMb_font-weight: 500;
  --mixin-d6wMCaUwYC8tMb_font-style: normal;
  --mixin-d6wMCaUwYC8tMb_color: #ffffff;
  --mixin-d6wMCaUwYC8tMb_text-align: left;
  --mixin-d6wMCaUwYC8tMb_text-transform: none;
  --mixin-d6wMCaUwYC8tMb_line-height: 1.5;
  --mixin-d6wMCaUwYC8tMb_letter-spacing: normal;
  --mixin-d6wMCaUwYC8tMb_white-space: pre-wrap;
  --mixin-d6wMCaUwYC8tMb_user-select: text;
  --mixin-d6wMCaUwYC8tMb_text-decoration-line: none;
  --mixin-d6wMCaUwYC8tMb_text-overflow: clip;
  --mixin-HUWW_JAmOSuIba_color: var(--token-M0Vg_cQNhjIE0);
  --mixin-HUWW_JAmOSuIba_font-weight: 700;
  --mixin-HUWW_JAmOSuIba_font-size: 45px;
  --mixin-HUWW_JAmOSuIba_line-height: 1;
  --mixin-HUWW_JAmOSuIba_letter-spacing: 0px;
  --mixin-HUWW_JAmOSuIba_font-family: "Source Sans Pro";
  --mixin-HUWW_JAmOSuIba_text-align: center;
  --mixin-HUWW_JAmOSuIba_white-space: pre-wrap;
  --mixin-u5A0ZO-TKf1GJs_color: var(--token-ZrOA7t2mQpZLV);
  --mixin-u5A0ZO-TKf1GJs_font-weight: 900;
  --mixin-u5A0ZO-TKf1GJs_font-size: 30px;
  --mixin-u5A0ZO-TKf1GJs_line-height: 1.1;
  --mixin-u5A0ZO-TKf1GJs_letter-spacing: 0px;
  --mixin-u5A0ZO-TKf1GJs_font-family: "Source Sans Pro";
  --mixin-u5A0ZO-TKf1GJs_white-space: pre-wrap;
  --mixin-p1UBs-ZLbWcTKG_color: var(--token-ZrOA7t2mQpZLV);
  --mixin-p1UBs-ZLbWcTKG_font-size: 16px;
  --mixin-p1UBs-ZLbWcTKG_text-transform: none;
  --mixin-p1UBs-ZLbWcTKG_font-family: "Source Sans Pro";
  --mixin-p1UBs-ZLbWcTKG_font-weight: 700;
  --mixin-p1UBs-ZLbWcTKG_text-decoration-line: none;
  --mixin-p1UBs-ZLbWcTKG_white-space: pre-wrap;
  --mixin-LB9XBsUP16ZHtp_color: var(--token-ZrOA7t2mQpZLV);
  --mixin-LB9XBsUP16ZHtp_font-weight: 900;
  --mixin-LB9XBsUP16ZHtp_font-size: 16px;
  --mixin-LB9XBsUP16ZHtp_line-height: 1.2;
  --mixin-LB9XBsUP16ZHtp_letter-spacing: 0px;
  --mixin-LB9XBsUP16ZHtp_font-family: "Source Sans Pro";
  --mixin-LB9XBsUP16ZHtp_white-space: pre-wrap;
  --mixin-Kofb2XFu4CDrK3_font-family: "Inter";
  --mixin-Kofb2XFu4CDrK3_color: #000000;
  --mixin-Kofb2XFu4CDrK3_font-size: 24px;
  --mixin-Kofb2XFu4CDrK3_font-weight: 600;
  --mixin-Kofb2XFu4CDrK3_letter-spacing: -0.5px;
  --mixin-Kofb2XFu4CDrK3_line-height: 1.3;
  --mixin-Kofb2XFu4CDrK3_white-space: pre-wrap;
  --mixin-fm7E2rEVGRxcmt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fm7E2rEVGRxcmt_border-bottom-color: #dddddd;
  --mixin-fm7E2rEVGRxcmt_border-bottom-style: solid;
  --mixin-fm7E2rEVGRxcmt_border-bottom-width: 1px;
  --mixin-fm7E2rEVGRxcmt_border-left-color: #dddddd;
  --mixin-fm7E2rEVGRxcmt_border-left-style: solid;
  --mixin-fm7E2rEVGRxcmt_border-left-width: 1px;
  --mixin-fm7E2rEVGRxcmt_border-right-color: #dddddd;
  --mixin-fm7E2rEVGRxcmt_border-right-style: solid;
  --mixin-fm7E2rEVGRxcmt_border-right-width: 1px;
  --mixin-fm7E2rEVGRxcmt_border-top-color: #dddddd;
  --mixin-fm7E2rEVGRxcmt_border-top-style: solid;
  --mixin-fm7E2rEVGRxcmt_border-top-width: 1px;
  --mixin-fm7E2rEVGRxcmt_border-bottom-left-radius: 3px;
  --mixin-fm7E2rEVGRxcmt_border-bottom-right-radius: 3px;
  --mixin-fm7E2rEVGRxcmt_border-top-left-radius: 3px;
  --mixin-fm7E2rEVGRxcmt_border-top-right-radius: 3px;
  --mixin-fm7E2rEVGRxcmt_font-family: "Inconsolata";
  --mixin-fm7E2rEVGRxcmt_padding-bottom: 1px;
  --mixin-fm7E2rEVGRxcmt_padding-left: 4px;
  --mixin-fm7E2rEVGRxcmt_padding-right: 4px;
  --mixin-fm7E2rEVGRxcmt_padding-top: 1px;
  --mixin-fm7E2rEVGRxcmt_white-space: pre-wrap;
  --mixin-2XtXbZUwcdwh0a_border-left-color: #dddddd;
  --mixin-2XtXbZUwcdwh0a_border-left-style: solid;
  --mixin-2XtXbZUwcdwh0a_border-left-width: 3px;
  --mixin-2XtXbZUwcdwh0a_color: #888888;
  --mixin-2XtXbZUwcdwh0a_padding-left: 10px;
  --mixin-2XtXbZUwcdwh0a_white-space: pre-wrap;
  --mixin-LCs0-BItxsjPOH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LCs0-BItxsjPOH_border-bottom-color: #dddddd;
  --mixin-LCs0-BItxsjPOH_border-bottom-style: solid;
  --mixin-LCs0-BItxsjPOH_border-bottom-width: 1px;
  --mixin-LCs0-BItxsjPOH_border-left-color: #dddddd;
  --mixin-LCs0-BItxsjPOH_border-left-style: solid;
  --mixin-LCs0-BItxsjPOH_border-left-width: 1px;
  --mixin-LCs0-BItxsjPOH_border-right-color: #dddddd;
  --mixin-LCs0-BItxsjPOH_border-right-style: solid;
  --mixin-LCs0-BItxsjPOH_border-right-width: 1px;
  --mixin-LCs0-BItxsjPOH_border-top-color: #dddddd;
  --mixin-LCs0-BItxsjPOH_border-top-style: solid;
  --mixin-LCs0-BItxsjPOH_border-top-width: 1px;
  --mixin-LCs0-BItxsjPOH_border-bottom-left-radius: 3px;
  --mixin-LCs0-BItxsjPOH_border-bottom-right-radius: 3px;
  --mixin-LCs0-BItxsjPOH_border-top-left-radius: 3px;
  --mixin-LCs0-BItxsjPOH_border-top-right-radius: 3px;
  --mixin-LCs0-BItxsjPOH_font-family: "Inconsolata";
  --mixin-LCs0-BItxsjPOH_padding-bottom: 3px;
  --mixin-LCs0-BItxsjPOH_padding-left: 6px;
  --mixin-LCs0-BItxsjPOH_padding-right: 6px;
  --mixin-LCs0-BItxsjPOH_padding-top: 3px;
  --mixin-LCs0-BItxsjPOH_white-space: pre-wrap;
  --mixin--pXlQ8laFpWNRU_white-space: pre-wrap;
  --mixin-5CA0BwDH6xDPr1_font-family: "Inter";
  --mixin-5CA0BwDH6xDPr1_color: #000000;
  --mixin-5CA0BwDH6xDPr1_font-size: 20px;
  --mixin-5CA0BwDH6xDPr1_font-weight: 600;
  --mixin-5CA0BwDH6xDPr1_letter-spacing: -0.3px;
  --mixin-5CA0BwDH6xDPr1_line-height: 1.5;
  --mixin-5CA0BwDH6xDPr1_white-space: pre-wrap;
  --mixin-Y5PVRzy3XJ9gNH_font-family: "Inter";
  --mixin-Y5PVRzy3XJ9gNH_color: #000000;
  --mixin-Y5PVRzy3XJ9gNH_font-size: 16px;
  --mixin-Y5PVRzy3XJ9gNH_font-weight: 600;
  --mixin-Y5PVRzy3XJ9gNH_line-height: 1.5;
  --mixin-Y5PVRzy3XJ9gNH_white-space: pre-wrap;
  --mixin-FIXK7KhPCbA1d0_display: flex;
  --mixin-FIXK7KhPCbA1d0_flex-direction: column;
  --mixin-FIXK7KhPCbA1d0_align-items: stretch;
  --mixin-FIXK7KhPCbA1d0_justify-content: flex-start;
  --mixin-FIXK7KhPCbA1d0_list-style-position: outside;
  --mixin-FIXK7KhPCbA1d0_padding-left: 40px;
  --mixin-FIXK7KhPCbA1d0_position: relative;
  --mixin-FIXK7KhPCbA1d0_list-style-type: decimal;
  --mixin-FIXK7KhPCbA1d0_white-space: pre-wrap;
  --mixin-Qh3ZdsvCkJ8fKW_display: flex;
  --mixin-Qh3ZdsvCkJ8fKW_flex-direction: column;
  --mixin-Qh3ZdsvCkJ8fKW_align-items: stretch;
  --mixin-Qh3ZdsvCkJ8fKW_justify-content: flex-start;
  --mixin-Qh3ZdsvCkJ8fKW_list-style-position: outside;
  --mixin-Qh3ZdsvCkJ8fKW_padding-left: 40px;
  --mixin-Qh3ZdsvCkJ8fKW_position: relative;
  --mixin-Qh3ZdsvCkJ8fKW_list-style-type: disc;
  --mixin-Qh3ZdsvCkJ8fKW_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-d6wMCaUwYC8tMb_font-family);
  font-size: var(--mixin-d6wMCaUwYC8tMb_font-size);
  font-weight: var(--mixin-d6wMCaUwYC8tMb_font-weight);
  font-style: var(--mixin-d6wMCaUwYC8tMb_font-style);
  color: var(--mixin-d6wMCaUwYC8tMb_color);
  text-align: var(--mixin-d6wMCaUwYC8tMb_text-align);
  text-transform: var(--mixin-d6wMCaUwYC8tMb_text-transform);
  line-height: var(--mixin-d6wMCaUwYC8tMb_line-height);
  letter-spacing: var(--mixin-d6wMCaUwYC8tMb_letter-spacing);
  white-space: var(--mixin-d6wMCaUwYC8tMb_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-HUWW_JAmOSuIba_color);
  font-weight: var(--mixin-HUWW_JAmOSuIba_font-weight);
  font-size: var(--mixin-HUWW_JAmOSuIba_font-size);
  line-height: var(--mixin-HUWW_JAmOSuIba_line-height);
  letter-spacing: var(--mixin-HUWW_JAmOSuIba_letter-spacing);
  font-family: var(--mixin-HUWW_JAmOSuIba_font-family);
  text-align: var(--mixin-HUWW_JAmOSuIba_text-align);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-u5A0ZO-TKf1GJs_color);
  font-weight: var(--mixin-u5A0ZO-TKf1GJs_font-weight);
  font-size: var(--mixin-u5A0ZO-TKf1GJs_font-size);
  line-height: var(--mixin-u5A0ZO-TKf1GJs_line-height);
  letter-spacing: var(--mixin-u5A0ZO-TKf1GJs_letter-spacing);
  font-family: var(--mixin-u5A0ZO-TKf1GJs_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-p1UBs-ZLbWcTKG_color);
  font-size: var(--mixin-p1UBs-ZLbWcTKG_font-size);
  text-transform: var(--mixin-p1UBs-ZLbWcTKG_text-transform);
  font-family: var(--mixin-p1UBs-ZLbWcTKG_font-family);
  font-weight: var(--mixin-p1UBs-ZLbWcTKG_font-weight);
  text-decoration-line: var(--mixin-p1UBs-ZLbWcTKG_text-decoration-line);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-LB9XBsUP16ZHtp_color);
  font-weight: var(--mixin-LB9XBsUP16ZHtp_font-weight);
  font-size: var(--mixin-LB9XBsUP16ZHtp_font-size);
  line-height: var(--mixin-LB9XBsUP16ZHtp_line-height);
  letter-spacing: var(--mixin-LB9XBsUP16ZHtp_letter-spacing);
  font-family: var(--mixin-LB9XBsUP16ZHtp_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-Kofb2XFu4CDrK3_font-family);
  color: var(--mixin-Kofb2XFu4CDrK3_color);
  font-size: var(--mixin-Kofb2XFu4CDrK3_font-size);
  font-weight: var(--mixin-Kofb2XFu4CDrK3_font-weight);
  letter-spacing: var(--mixin-Kofb2XFu4CDrK3_letter-spacing);
  line-height: var(--mixin-Kofb2XFu4CDrK3_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-fm7E2rEVGRxcmt_background);
  font-family: var(--mixin-fm7E2rEVGRxcmt_font-family);
  border-radius: var(--mixin-fm7E2rEVGRxcmt_border-top-left-radius)
    var(--mixin-fm7E2rEVGRxcmt_border-top-right-radius)
    var(--mixin-fm7E2rEVGRxcmt_border-bottom-right-radius)
    var(--mixin-fm7E2rEVGRxcmt_border-bottom-left-radius);
  padding: var(--mixin-fm7E2rEVGRxcmt_padding-top)
    var(--mixin-fm7E2rEVGRxcmt_padding-right)
    var(--mixin-fm7E2rEVGRxcmt_padding-bottom)
    var(--mixin-fm7E2rEVGRxcmt_padding-left);
  border-top: var(--mixin-fm7E2rEVGRxcmt_border-top-width)
    var(--mixin-fm7E2rEVGRxcmt_border-top-style)
    var(--mixin-fm7E2rEVGRxcmt_border-top-color);
  border-right: var(--mixin-fm7E2rEVGRxcmt_border-right-width)
    var(--mixin-fm7E2rEVGRxcmt_border-right-style)
    var(--mixin-fm7E2rEVGRxcmt_border-right-color);
  border-bottom: var(--mixin-fm7E2rEVGRxcmt_border-bottom-width)
    var(--mixin-fm7E2rEVGRxcmt_border-bottom-style)
    var(--mixin-fm7E2rEVGRxcmt_border-bottom-color);
  border-left: var(--mixin-fm7E2rEVGRxcmt_border-left-width)
    var(--mixin-fm7E2rEVGRxcmt_border-left-style)
    var(--mixin-fm7E2rEVGRxcmt_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-2XtXbZUwcdwh0a_color);
  padding-left: var(--mixin-2XtXbZUwcdwh0a_padding-left);
  border-left: var(--mixin-2XtXbZUwcdwh0a_border-left-width)
    var(--mixin-2XtXbZUwcdwh0a_border-left-style)
    var(--mixin-2XtXbZUwcdwh0a_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-LCs0-BItxsjPOH_background);
  font-family: var(--mixin-LCs0-BItxsjPOH_font-family);
  border-radius: var(--mixin-LCs0-BItxsjPOH_border-top-left-radius)
    var(--mixin-LCs0-BItxsjPOH_border-top-right-radius)
    var(--mixin-LCs0-BItxsjPOH_border-bottom-right-radius)
    var(--mixin-LCs0-BItxsjPOH_border-bottom-left-radius);
  padding: var(--mixin-LCs0-BItxsjPOH_padding-top)
    var(--mixin-LCs0-BItxsjPOH_padding-right)
    var(--mixin-LCs0-BItxsjPOH_padding-bottom)
    var(--mixin-LCs0-BItxsjPOH_padding-left);
  border-top: var(--mixin-LCs0-BItxsjPOH_border-top-width)
    var(--mixin-LCs0-BItxsjPOH_border-top-style)
    var(--mixin-LCs0-BItxsjPOH_border-top-color);
  border-right: var(--mixin-LCs0-BItxsjPOH_border-right-width)
    var(--mixin-LCs0-BItxsjPOH_border-right-style)
    var(--mixin-LCs0-BItxsjPOH_border-right-color);
  border-bottom: var(--mixin-LCs0-BItxsjPOH_border-bottom-width)
    var(--mixin-LCs0-BItxsjPOH_border-bottom-style)
    var(--mixin-LCs0-BItxsjPOH_border-bottom-color);
  border-left: var(--mixin-LCs0-BItxsjPOH_border-left-width)
    var(--mixin-LCs0-BItxsjPOH_border-left-style)
    var(--mixin-LCs0-BItxsjPOH_border-left-color);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-5CA0BwDH6xDPr1_font-family);
  color: var(--mixin-5CA0BwDH6xDPr1_color);
  font-size: var(--mixin-5CA0BwDH6xDPr1_font-size);
  font-weight: var(--mixin-5CA0BwDH6xDPr1_font-weight);
  letter-spacing: var(--mixin-5CA0BwDH6xDPr1_letter-spacing);
  line-height: var(--mixin-5CA0BwDH6xDPr1_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-Y5PVRzy3XJ9gNH_font-family);
  color: var(--mixin-Y5PVRzy3XJ9gNH_color);
  font-size: var(--mixin-Y5PVRzy3XJ9gNH_font-size);
  font-weight: var(--mixin-Y5PVRzy3XJ9gNH_font-weight);
  line-height: var(--mixin-Y5PVRzy3XJ9gNH_line-height);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-FIXK7KhPCbA1d0_display);
  flex-direction: var(--mixin-FIXK7KhPCbA1d0_flex-direction);
  align-items: var(--mixin-FIXK7KhPCbA1d0_align-items);
  justify-content: var(--mixin-FIXK7KhPCbA1d0_justify-content);
  list-style-position: var(--mixin-FIXK7KhPCbA1d0_list-style-position);
  padding-left: var(--mixin-FIXK7KhPCbA1d0_padding-left);
  position: var(--mixin-FIXK7KhPCbA1d0_position);
  list-style-type: var(--mixin-FIXK7KhPCbA1d0_list-style-type);
  flex-column-gap: var(--mixin-FIXK7KhPCbA1d0_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Qh3ZdsvCkJ8fKW_display);
  flex-direction: var(--mixin-Qh3ZdsvCkJ8fKW_flex-direction);
  align-items: var(--mixin-Qh3ZdsvCkJ8fKW_align-items);
  justify-content: var(--mixin-Qh3ZdsvCkJ8fKW_justify-content);
  list-style-position: var(--mixin-Qh3ZdsvCkJ8fKW_list-style-position);
  padding-left: var(--mixin-Qh3ZdsvCkJ8fKW_padding-left);
  position: var(--mixin-Qh3ZdsvCkJ8fKW_position);
  list-style-type: var(--mixin-Qh3ZdsvCkJ8fKW_list-style-type);
  flex-column-gap: var(--mixin-Qh3ZdsvCkJ8fKW_flex-column-gap);
}
