.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__sWUun {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  max-width: none;
  align-self: center;
  background: var(--token-ZrOA7t2mQpZLV);
  min-width: 0;
  padding: 8px;
}
.freeBox__sWUun > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sWUun > :global(.__wab_flex-container) > *,
.freeBox__sWUun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sWUun > :global(.__wab_flex-container) > picture > img,
.freeBox__sWUun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWUun {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWUun > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xCb3M {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.freeBox__xCb3M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xCb3M > :global(.__wab_flex-container) > *,
.freeBox__xCb3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xCb3M > :global(.__wab_flex-container) > picture > img,
.freeBox__xCb3M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xCb3M {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xCb3M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xCb3M > :global(.__wab_flex-container) > *,
  .freeBox__xCb3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xCb3M > :global(.__wab_flex-container) > picture > img,
  .freeBox__xCb3M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__qvt0U {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__qvt0U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qvt0U > :global(.__wab_flex-container) > *,
.freeBox__qvt0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qvt0U > :global(.__wab_flex-container) > picture > img,
.freeBox__qvt0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qvt0U > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qvt0U > :global(.__wab_flex-container) > *,
  .freeBox__qvt0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qvt0U > :global(.__wab_flex-container) > picture > img,
  .freeBox__qvt0U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.text__ak6Vc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  min-width: 0;
}
.freeBox__tbUd1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___19Uz0 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__rrqM {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__rrqM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rrqM > :global(.__wab_flex-container) > *,
.link__rrqM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rrqM > :global(.__wab_flex-container) > picture > img,
.link__rrqM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__bLxje {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__m9CkL {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__d4RXf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__soTMp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__soTMp {
    padding-top: 50px;
  }
}
.freeBox__nPaxR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__wucdI {
  flex-direction: column;
  display: flex;
  padding-bottom: 40px;
}
.freeBox__wucdI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wucdI > :global(.__wab_flex-container) > *,
.freeBox__wucdI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wucdI > :global(.__wab_flex-container) > picture > img,
.freeBox__wucdI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wucdI {
    padding-bottom: 0px;
  }
}
.freeBox__s1FrE {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__s1FrE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__s1FrE > :global(.__wab_flex-container) > *,
.freeBox__s1FrE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s1FrE > :global(.__wab_flex-container) > picture > img,
.freeBox__s1FrE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h2__wWne {
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__wWne {
    text-align: center;
  }
}
.text__sSgpN {
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--token-ZrOA7t2mQpZLV);
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sSgpN {
    margin-top: calc(0px + 10px) !important;
  }
}
.columns___3DHj7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___3DHj7 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___3DHj7 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3DHj7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3DHj7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bo5Lz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8rem 5rem;
}
.column__bo5Lz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__bo5Lz > :global(.__wab_flex-container) > *,
.column__bo5Lz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bo5Lz > :global(.__wab_flex-container) > picture > img,
.column__bo5Lz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bo5Lz {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bo5Lz > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bo5Lz > :global(.__wab_flex-container) > *,
  .column__bo5Lz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__bo5Lz > :global(.__wab_flex-container) > picture > img,
  .column__bo5Lz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.h2__gD7Cr {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__gD7Cr {
    text-align: center;
  }
}
.text__lmWZw {
  padding-bottom: 0px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  color: var(--token-ZrOA7t2mQpZLV);
  margin-top: calc(0px + 24px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lmWZw {
    margin-top: calc(0px + 24px) !important;
  }
}
.link__y2Hnw {
  position: relative;
  font-weight: 600;
  text-decoration-line: none;
  text-transform: capitalize;
  align-self: flex-start;
  border-bottom: 1px solid var(--token-ZrOA7t2mQpZLV);
}
.column__c8KUy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__c8KUy {
    padding-right: 0px;
  }
}
.img__mpCzx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mpCzx > picture > img {
  object-fit: cover;
}
.img__mpCzx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___8O6Hw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sCFno {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.columns__d7Mbj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__d7Mbj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__d7Mbj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7Mbj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d7Mbj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vCiw0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 1px 0px 0px;
}
.img__uSxCe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.img__uSxCe > picture > img {
  object-fit: cover;
}
.img__uSxCe > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__z7Rpu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8rem 5rem;
}
.column__z7Rpu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__z7Rpu > :global(.__wab_flex-container) > *,
.column__z7Rpu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__z7Rpu > :global(.__wab_flex-container) > picture > img,
.column__z7Rpu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__z7Rpu {
    padding: 50px;
  }
}
.h2__pnVba {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__pnVba {
    text-align: center;
  }
}
.text__zvpXp {
  padding-bottom: 0px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  color: var(--token-ZrOA7t2mQpZLV);
  margin-top: calc(0px + 24px) !important;
  margin-bottom: 0px;
  min-width: 0;
}
.link___1HuO {
  position: relative;
  font-weight: 600;
  text-decoration-line: none;
  text-transform: capitalize;
  align-self: flex-start;
  border-bottom: 1px solid var(--token-ZrOA7t2mQpZLV);
}
.freeBox__m9IHk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9IHk {
    padding-bottom: 50px;
    padding-top: 0px;
  }
}
.freeBox__bI8Hb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__bI8Hb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bI8Hb > :global(.__wab_flex-container) > *,
.freeBox__bI8Hb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bI8Hb > :global(.__wab_flex-container) > picture > img,
.freeBox__bI8Hb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__acvsn {
  flex-direction: column;
  display: flex;
  padding-bottom: 0px;
}
.freeBox__acvsn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__acvsn > :global(.__wab_flex-container) > *,
.freeBox__acvsn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acvsn > :global(.__wab_flex-container) > picture > img,
.freeBox__acvsn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__oYqwz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__oIbWp {
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__oIbWp {
    text-align: center;
  }
}
.text__v6BHw {
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--token-ZrOA7t2mQpZLV);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___4Ohk6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__q9Inh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q9Inh {
    height: 100%;
    min-height: 0;
  }
}
.columns__a3HQj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__a3HQj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__a3HQj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a3HQj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a3HQj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5F2EC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 0px 0px;
}
.img__rfAet {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__rfAet > picture > img {
  object-fit: cover;
}
.img__rfAet > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___6IbM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6IbM {
    padding-right: 0px;
    padding-top: 0px;
  }
}
.img__eIRxO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__eIRxO > picture > img {
  object-fit: cover;
}
.img__eIRxO > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eIRxO {
    padding-right: 0px;
  }
}
.freeBox__omJpT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  background: #090602;
  min-width: 0;
  padding: 64px 40px 10px;
}
.freeBox__omJpT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__omJpT > :global(.__wab_flex-container) > *,
.freeBox__omJpT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__omJpT > :global(.__wab_flex-container) > picture > img,
.freeBox__omJpT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__omJpT {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #090602;
    min-width: 0;
    padding: 64px 40px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__omJpT > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__omJpT > :global(.__wab_flex-container) > *,
  .freeBox__omJpT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__omJpT > :global(.__wab_flex-container) > picture > img,
  .freeBox__omJpT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__ieiiO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-right: 40px;
  padding-left: 40px;
  min-width: 0;
}
.freeBox__ieiiO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ieiiO > :global(.__wab_flex-container) > *,
.freeBox__ieiiO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ieiiO > :global(.__wab_flex-container) > picture > img,
.freeBox__ieiiO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ieiiO {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ieiiO > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ieiiO > :global(.__wab_flex-container) > *,
  .freeBox__ieiiO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ieiiO > :global(.__wab_flex-container) > picture > img,
  .freeBox__ieiiO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.freeBox__q20FL {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 280px;
  flex-shrink: 0;
}
.freeBox__q20FL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__q20FL > :global(.__wab_flex-container) > *,
.freeBox__q20FL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q20FL > :global(.__wab_flex-container) > picture > img,
.freeBox__q20FL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q20FL {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    width: 280px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q20FL > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q20FL > :global(.__wab_flex-container) > *,
  .freeBox__q20FL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q20FL > :global(.__wab_flex-container) > picture > img,
  .freeBox__q20FL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__p80M7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p80M7 {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__qhEb {
  width: 100%;
  max-width: 800px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-M0Vg_cQNhjIE0);
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qhEb {
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-M0Vg_cQNhjIE0);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.link__nSeIo {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-M0Vg_cQNhjIE0);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-ZrOA7t2mQpZLV);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__nSeIo {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-M0Vg_cQNhjIE0);
  }
}
.link__zTexe {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-M0Vg_cQNhjIE0);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-ZrOA7t2mQpZLV);
}
.freeBox__qvcQm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 280px;
  left: auto;
  top: auto;
  height: 126px;
  flex-shrink: 0;
}
.freeBox__qvcQm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__qvcQm > :global(.__wab_flex-container) > *,
.freeBox__qvcQm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qvcQm > :global(.__wab_flex-container) > picture > img,
.freeBox__qvcQm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qvcQm {
    align-self: flex-start;
    display: flex;
    position: relative;
    width: 280px;
    left: auto;
    top: auto;
    flex-direction: column;
    height: 126px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qvcQm > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qvcQm > :global(.__wab_flex-container) > *,
  .freeBox__qvcQm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qvcQm > :global(.__wab_flex-container) > picture > img,
  .freeBox__qvcQm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
._3 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-M0Vg_cQNhjIE0);
  }
}
.link__zNBp {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: capitalize;
}
.link__iZtou {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: capitalize;
}
.link__xmola {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: capitalize;
}
.freeBox__s7Csh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  height: 118px;
  align-self: center;
  min-width: 0;
}
.freeBox__s7Csh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__s7Csh > :global(.__wab_flex-container) > *,
.freeBox__s7Csh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7Csh > :global(.__wab_flex-container) > picture > img,
.freeBox__s7Csh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s7Csh {
    align-self: flex-start;
    height: 80px;
    display: flex;
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s7Csh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s7Csh > :global(.__wab_flex-container) > *,
  .freeBox__s7Csh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s7Csh > :global(.__wab_flex-container) > picture > img,
  .freeBox__s7Csh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__nwiWb {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-M0Vg_cQNhjIE0);
  text-align: left;
  margin-bottom: 0px;
  margin-left: 133px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nwiWb {
    margin-left: calc(0px + 0px) !important;
    align-self: flex-start;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-M0Vg_cQNhjIE0);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.freeBox__ckf8 {
  display: block;
  position: relative;
  width: 280px;
  height: 80px;
  max-width: 100%;
  background: none;
  align-self: flex-end;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckf8 {
    align-self: flex-start;
    background: none;
    height: 60px;
    display: block;
    position: relative;
    width: 280px;
    max-width: 100%;
    flex-shrink: 0;
    padding: 8px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: auto;
  width: 262px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    width: 252px;
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: auto;
  }
}
.svg__gAeu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__y4A0D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___2Ee1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__buxXs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.svg__qSaiA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__ajWev {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ajWev > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ajWev > :global(.__wab_flex-container) > *,
.freeBox__ajWev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ajWev > :global(.__wab_flex-container) > picture > img,
.freeBox__ajWev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ajWev {
    position: relative;
    flex-direction: row;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ajWev > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ajWev > :global(.__wab_flex-container) > *,
  .freeBox__ajWev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ajWev > :global(.__wab_flex-container) > picture > img,
  .freeBox__ajWev
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__fyv5X {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__fyv5X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__fyv5X > :global(.__wab_flex-container) > *,
.link__fyv5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fyv5X > :global(.__wab_flex-container) > picture > img,
.link__fyv5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__dmkdM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__zziUr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zziUr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zziUr > :global(.__wab_flex-container) > *,
.freeBox__zziUr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zziUr > :global(.__wab_flex-container) > picture > img,
.freeBox__zziUr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zziUr {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zziUr > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zziUr > :global(.__wab_flex-container) > *,
  .freeBox__zziUr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zziUr > :global(.__wab_flex-container) > picture > img,
  .freeBox__zziUr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__mjBdV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mjBdV {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__aoz8Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg___9LMPc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9LMPc {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__zuHvv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__fMyX9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___3XJ5W {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__lrheb {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__lrheb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__lrheb > :global(.__wab_flex-container) > *,
.link__lrheb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lrheb > :global(.__wab_flex-container) > picture > img,
.link__lrheb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__i7Lsy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lqk2Z {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__o0Vyd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__z0HQs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
  padding: 8px 8px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z0HQs {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1200px;
    border-top-style: solid;
    border-top-width: 1px;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px 0px 0px;
  }
}
.freeBox___9TdUd {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___9TdUd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9TdUd > :global(.__wab_flex-container) > *,
.freeBox___9TdUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9TdUd > :global(.__wab_flex-container) > picture > img,
.freeBox___9TdUd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TdUd {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TdUd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TdUd > :global(.__wab_flex-container) > *,
  .freeBox___9TdUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9TdUd > :global(.__wab_flex-container) > picture > img,
  .freeBox___9TdUd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 5px;
  }
}
.freeBox___9WtZg {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox___9WtZg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9WtZg > :global(.__wab_flex-container) > *,
.freeBox___9WtZg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9WtZg > :global(.__wab_flex-container) > picture > img,
.freeBox___9WtZg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WtZg {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WtZg > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WtZg > :global(.__wab_flex-container) > *,
  .freeBox___9WtZg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9WtZg > :global(.__wab_flex-container) > picture > img,
  .freeBox___9WtZg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zxTD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-self: flex-start;
  padding: 8px 8px 1px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zxTD {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    align-self: flex-start;
    flex-row-gap: 0px;
    padding: 8px 8px 1px 0px;
  }
}
.text__pb5PC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pb5PC {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
  }
}
.httpsstudioplasmicapp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsstudioplasmicapp {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 0px;
  }
}
.freeBox__gOtJy {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__gOtJy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gOtJy > :global(.__wab_flex-container) > *,
.freeBox__gOtJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOtJy > :global(.__wab_flex-container) > picture > img,
.freeBox__gOtJy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOtJy {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOtJy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOtJy > :global(.__wab_flex-container) > *,
  .freeBox__gOtJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gOtJy > :global(.__wab_flex-container) > picture > img,
  .freeBox__gOtJy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zKgWh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__zKgWh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zKgWh > :global(.__wab_flex-container) > *,
.freeBox__zKgWh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zKgWh > :global(.__wab_flex-container) > picture > img,
.freeBox__zKgWh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zKgWh {
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zKgWh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zKgWh > :global(.__wab_flex-container) > *,
  .freeBox__zKgWh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zKgWh > :global(.__wab_flex-container) > picture > img,
  .freeBox__zKgWh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__hlgAh {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__hlgAh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hlgAh > :global(.__wab_flex-container) > *,
.freeBox__hlgAh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hlgAh > :global(.__wab_flex-container) > picture > img,
.freeBox__hlgAh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hlgAh {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hlgAh > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hlgAh > :global(.__wab_flex-container) > *,
  .freeBox__hlgAh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hlgAh > :global(.__wab_flex-container) > picture > img,
  .freeBox__hlgAh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__xmJ {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xmJ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xmJ > :global(.__wab_flex-container) > *,
.freeBox__xmJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xmJ > :global(.__wab_flex-container) > picture > img,
.freeBox__xmJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmJ {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmJ > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmJ > :global(.__wab_flex-container) > *,
  .freeBox__xmJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xmJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__xmJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__mUOan {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__mUOan > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mUOan > :global(.__wab_flex-container) > *,
.link__mUOan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mUOan > :global(.__wab_flex-container) > picture > img,
.link__mUOan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mUOan {
    align-self: flex-start;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mUOan > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mUOan > :global(.__wab_flex-container) > *,
  .link__mUOan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__mUOan > :global(.__wab_flex-container) > picture > img,
  .link__mUOan
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___3Jql {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__tpxyu {
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tpxyu {
    color: var(--token-M0Vg_cQNhjIE0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg__yKoF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___5QyiV {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link___5QyiV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___5QyiV > :global(.__wab_flex-container) > *,
.link___5QyiV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___5QyiV > :global(.__wab_flex-container) > picture > img,
.link___5QyiV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___5QyiV {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 0px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___5QyiV > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___5QyiV > :global(.__wab_flex-container) > *,
  .link___5QyiV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___5QyiV > :global(.__wab_flex-container) > picture > img,
  .link___5QyiV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__d1Br8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__eLsUk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__radlW {
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__radlW {
    color: var(--token-M0Vg_cQNhjIE0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.link___3T09E {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link___3T09E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___3T09E > :global(.__wab_flex-container) > *,
.link___3T09E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___3T09E > :global(.__wab_flex-container) > picture > img,
.link___3T09E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3T09E {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3T09E > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3T09E > :global(.__wab_flex-container) > *,
  .link___3T09E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___3T09E > :global(.__wab_flex-container) > picture > img,
  .link___3T09E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__vxb3N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__u53Q5 {
  color: var(--token-M0Vg_cQNhjIE0);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u53Q5 {
    color: var(--token-M0Vg_cQNhjIE0);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg__gwaee {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
